<a href="https://colab.research.google.com/github/19pa1a05b5/Hinglish-Translator/blob/main/Hinglish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing the required packages.**

In [1]:
import pandas as pd
import re
import nltk

# **Uploading the dataset.**

In [4]:
data_set = pd.read_csv("/content/English-Hindi code-mixed parallel corpus.csv")

In [ ]:
data_set.head()

                                            Sentence                                English_Translation
0  @someUSER congratulations on you celebrating b...  @some users congratulate you for celebrating B...
1  @LoKarDi_RT uske liye toh bahot kuch karna pad...  @Lokardi_ rat we should a lot more for that, b...
2  @slimswamy yehi to hum semjhane ki koshish kar...  @Slimswami ehi, this is what i'm expecting you...
3                    @DramebaazKudi cake kaha hai ??         @Where is Dramebajakudi where is the cake?
4  @someUSER i'm in hawaii at the moment .  home ...  @some user Don't want to come home next friday...

In [5]:
for i in range(len(data_set['Sentence'])):
  data_set['Sentence'][i] = re.sub("@[A-Za-z0-9]+","",data_set['Sentence'][i])
  data_set['Sentence'][i] = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", data_set['Sentence'][i])
  data_set['Sentence'][i] = re.sub("#*[A-Za-z0-9]","",data_set['Sentence'][i])
data_set['Sentence'][1]

'_              '

In [6]:
data_set['Sentence'][1]

'_              '